body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock {
    font-size: 3rem;
    font-weight: bold;
    font-size: 280px;
    width: 1000px;
    height: 400px;
    text-align: center;
    padding-top: 200px;
    margin-right: 370px;
}